/* NOVA */

/* Base */
* {
	box-sizing: border-box;
}
body {
	font-size: 16px;
	margin: 0;
	padding: 0;
	padding-top: 4em;
	width: 100%;
	max-width: 100%;
	overflow-x: hidden;
	background-color: #fff5e4;
	color: black;
	font-family: 'Poppins', sans-serif;
	line-height: 1.3;
}
img {
	max-width: 100%;
	height: auto;
}
main {
	max-width: 25em;
	margin: 2em auto;
	padding: 0.5em;
}
header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	background-color: #fff5e4;
	padding: 0.5em 0.5em;

}
footer {
	background-color: #ffe900;
	position: relative;
	z-index: 2;
	padding: 1em 0.5em;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}


/* Typography */
h1 {
	font-size: 2.5em;
	color: black;
	width: 60%;
	font-weight: 800;
	vertical-align: middle;
	margin: 0;
	line-height: 1;
	display: inline-block;
	letter-spacing: -0.05em;
}


@media (min-width: 500px) {
	h1 {
		font-size: 4em;
	}
}
h2 {
	margin: 0.5em 0 0.25em 0;
	letter-spacing: -0.025em;
	font-weight: 700;
	font-size: 1.25em;
}
p {
	font-family: 'Poppins', sans-serif;
	font-weight: 300;
	letter-spacing: -0.02em;
}
a {
	color: inherit;	
}
footer a {
	color: black;
	display: block;
	text-align: center;
	text-decoration: none;
	font-size: 1.25em;
	text-transform: uppercase;
}
footer a:hover {
	text-decoration: underline;
}


/* Misc */
.grid img {
	width: 100%;
}
@media (min-width: 700px) {
	.grid img {
		width: 33.33%;
	}
	.left {
		text-align: left;
		display: flex;
		flex-wrap: wrap;
	}
	.right {
		text-align: right;
	}
}
.itme {
	width: 35%;
	padding-right: 2px;
	vertical-align: middle;
}
.headerimage{
	width: 7.5em;
}
.headerimage-right {
	position: absolute;
	top: 1em;
	right: 0.5em;
	width: 2.5em;
}
.center {
	text-align: center;	
	margin: 0 auto;
	padding: 2em 0;
}
.work {
	background-color: #ec007d;
	position: relative;
	z-index: 1;
	margin-top: 15vw;
}
.work:before {
	content: '';
	position: absolute;
	top: -10vw;
	right: -100vw;
	width: 300vw;
	min-height: 100vh;
	background-color: #00a7d6;
	z-index: -1;
	transform: rotate(-10deg);
}
.work-content {
	max-width: 60em;
	margin: 0 auto;
}
.sunglassesimg{
	width: 5em;
}

/* Obey */
.obey, 
.obey .work, 
.obey header, 
.obey footer, 
.obey .work:before {
	background-color: white;
}
.obey footer a {
	color: black;
	font-family: 'Raleway', sans-serif;
}

.obey h1,
.obey h2 {
	font-family: 'Raleway', sans-serif;
	letter-spacing: 0em;
}
